@model CategoryStateManager

<div class="d-flex flex-wrap w-100">
    @foreach (CategoryReadDto category in Model.GetCategories())
    {
        bool isExist = Model?.HasCategory(category.Id) ?? false;
        string color = isExist ? "bg-primary" : "bg-light";
        string textColor = isExist ? "text-light" : "text-secondary";

        <a class="submit-button" data-value="@category.Id" onclick="toggleCategory(@category.Id)">
            <span role="button" class="badge rounded-pill p-2 m-2 me-0 form-group @color @textColor">
                <span class="me-2 ms-2">@category.Name</span>
            </span>
        </a>
    }
</div>
