@model IEnumerable<Product>

<div class="row mb-3">
    <div class="col-auto text-end">
        <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
            Create New Product
        </a>
    </div>
</div>


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-12 col-lg-3 mb-4">
            <div class="card">
                <img src="@Url.Content("~/" + product.ImageUrl)" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.BriefDescription</p>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-primary">
                        Edit
                    </a>
                </div>
            </div>
        </div>
    }

</div>